#status-bar {
    height: 5vh;

    padding: 0 2.5em;
}

#status-bar time {
    font-weight: bold;
}

#status-bar img {
    height: 1em;
}

#header-bar {
    height: 7.5vh;

    padding: 0 1.5em;
}

#header-bar > label {
    font-size: 2em;
}

#header-bar img {
    height: 2em;

    padding-left: 1em;
}

#below-menu-bar {
    height: 75px;

    border-top: 1px solid #888;
    background-color: rgb(237, 237, 237);
}

#below-menu-bar img {
    height: 2em;
}

#input-form-bar {
    height: 75px;

    background-color: white;
}

#input-form-bar form {
    width: 85vw;

    padding: 0.5em;
    margin-left: 1.5em;

    border: 1px solid #888;
    border-radius: 1em;
}

#input-form-bar input {
    height: 2.5em;
    width: 68vw;

    border-style: none;
}

#input-form-bar img, #input-form-bar button {
    height: 2em;
    width: 2em;

    border: none;
    background-color: white;

    margin-left: 1em;

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

#emoji-button {
    background-image: url(../data/images/emoji.png);
}

#submit-button {
    background-image: url(../data/images/enter.png);
}
